[Desktop Entry]
Name=ROX-FreeFS
Comment=ROX-FreeFS displays free space on a file system
Comment[pl]=ROX-FreeFS wywietla ilość wolnej przestrzeni na dysku
Exec=/usr/lib/rox/FreeFS/AppRun
Icon=rox-FreeFS
Terminal=false
Type=Application
Categories=System;Monitor;
# vi: encoding=utf-8